(
  name: "test_structs",
  filename: "test_variables.mt",
  parent: None,
  children: [],
  statements: [
    FunctionDefine(
        (
            signature: (
                name: "return_input_variable",
                return_type: Struct((
                    name: "TestStruct",
                    fields: [(
                        name: "pokemon_idx",
                        ty: Primitive(I8)
                    )],
                    vis: Public
                )),
                inputs: {
                    "var": Struct((
                        name: "TestStruct",
                        fields: [(
                            name: "pokemon_idx",
                            ty: Primitive(I8)
                        )],
                        vis: Public
                    )),
                },
                vis: Public
            ),
            body: [
                Return(Some(
                    Return(Variable(Load(
                        name: "var",
                        ty: Struct((
                            name: "TestStruct",
                            fields: [(
                                name: "pokemon_idx",
                                ty: Primitive(I8)
                            )],
                            vis: Public
                        ))
                    )))
                ))
            ]
        )
    )
  ],
  function_signatures: [
    (
        name: "return_input_variable",
        return_type: Struct((
            name: "TestStruct",
            fields: [(
                name: "pokemon_idx",
                ty: Primitive(I8)
            )],
            vis: Public
        )),
        inputs: {
            "var": Struct((
                name: "TestStruct",
                fields: [(
                    name: "pokemon_idx",
                    ty: Primitive(I8)
                )],
                vis: Public
            )),
        },
        vis: Public
    )
  ],
  imports: []
)