[workspace]
members = ["crates/*"]
resolver = "2"

[workspace.dependencies]
tapcli = { git = "https://github.com/elenakrittik/gdtk/", rev = "699bffcd52ae85bd7297dbf552eb010ae9bc1f6e" }
thiserror = "1.0.65"

metal = { path = "crates/metal" }
metal-ast = { path = "crates/metal-ast" }
metal-formatter = { path = "crates/metal-formatter" }
metal-lexer = { path = "crates/metal-lexer" }
metal-linter = { path = "crates/metal-linter" }
metal-llvm = { path = "crates/metal-llvm" }
metal-lsp = { path = "crates/metal-lsp" }
metal-parser = { path = "crates/metal-parser" }
metal-proc-macros = { path = "crates/metal-proc-macros" }
metallic = { path = "crates/metallic" }
